body{
    font-family: 'Montserrat-Black', sans-serif;
}
#title{
    background-color: #ff4c68;
    color: white;
}
h1 {
    font-family: "Montserrat-Black";
    font-size: 3.5rem;
    line-height: 1.5;
}
h3{
    font-family: "Montserrat-Bold";
}
.container-fluid{
    padding: 3% 15% 7%;
}
/* Navigation Bar */
.navbar{
    padding: 0 0 4.5rem;
    
}
.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-size: 1.2rem;
    font-family: "Montserrat-Light";
}

/* Botones descargados */

.download-button{
    margin: 5% 3% 5% 0;
}

.imagen-celular-perro{
    width: 50%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}

#features{
    padding: 7% 15%;
    text-align: center;
    background-color: white;
    position: relative;
}
.iconn{
    color: #ef8172;
    font-size: 70px;
    padding-bottom: 10px;
}

.iconn:hover{
    color: #ff4c68;
}

.feature-titles3{
    font-size: 1.5rem;
    font-family: "montserrate-bold";
}

.feature-parrafo{
    color: #8f8f8f;
}

#testimonials{
    background-color: #ef8172;
    text-align: center;
    color: white;
}
.testimonial-imagen{
    width: 15%;
    border-radius: 100%;
    margin: 5%;
}

.carousel-item{
    padding: 7% 15%;
}

#press{
    background-color: #ef8172;
    text-align: center;
}

.press-logo{
    width: 15%;
    padding: 3%;
}

#pricing{
    padding: 100px;
    text-align: center;
}

.pricing-column{
    padding: 3% 2%;
}

@media (max-width: 992px){

    #title{
        text-align: center;
    }

    .imagen-celular-perro{
        position: static;
        transform: rotate(0);
    }
}

#cta{
    background-color: #ff4c68;
    padding: 5%;
    font-family: "Montserrat-Black";
    text-align: center;
}

.titulo-life-today{
    color: white;
    font-size: 70px;
}

#footer{
    padding: 30px;
    background-color: white;
    text-align: center;
    color: gray;
    line-height: 2;
}

.icon-footer{
    margin: 10px;
    color: black;
}
